<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>Spiltwise App</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Spiltwise App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/group">Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/friend">Friends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Activity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allUser" tabindex="-1" aria-disabled="true">All Users</a>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <a href="/logout">
          <span>Logout <i class="fas fa-user"></i></span>
        </a>
      </div>
    </div>
  </nav>
  <% if(typeof message.response !="undefined" && !message.response[0].success) { %>
    <div class="alert alert-danger" role="alert">
      <% if(typeof message.response[0].errorMessage[0].msg !="undefined" ){%>
        <%= message.response[0].errorMessage[0].msg %>
        <%}else{%>
          <%= message.response[0].errorMessage%>
          <%}%>
        </div>
        <% }else if(typeof message.response !="undefined" && message.response[0].success){ %>
          <div class="alert alert-primary" role="alert">
            <%= message.response[0].data%>
          </div>
          <%}%>
  <main class="main-site">
    <div class="container-xl">
      <div class="adduser">
        <a href="group/add">
          <span>New Group <i class="fas fa-user"></i></span>
        </a>
      </div>
      <form action="" class="frm">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Group Name</th>
              <th>Group Members</th>
              <th>Add Expense</th>
              <th>Delete Group</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(element => { %>
              <tr>
                <td><%=element.dataValues.groupName%></td>
                <td>
                  <span>
                  <%element.dataValues.group.forEach(i => { %>
                    <%=i.dataValues.groupMember.dataValues.name%><br>
                 <% }); %>
                  </span>
                </td>
                <td>
                  <a href="/transaction/group/?id=<%=element.dataValues.id%>">
                    <span class="mx-auto me-4"
                      ><i class="fas fa-times"></i
                    ></span>
                  </a>
                </td>
                <td>
                  <a href="/group/delete?id=<%=element.dataValues.id%>">
                    <span class="mx-auto me-4"
                      ><i class="fas fa-times"></i
                    ></span>
                  </a>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </form>
    </div>
  </main>
</body>
</html>